<%- include('../parts/html-head') %>
    <style>
        form .form-text {
            color: red;
        }
    </style>
    <%- include('../parts/html-navbar') %>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">編輯通訊錄</h5>
                            <form name="editForm" novalidate onsubmit="sendData(event)">
                                <div class="mb-3">
                                    <label for="name" class="form-label">編號</label>
                                    <input type="text" class="form-control" disabled value="<%= ab_id %>" />
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">頭貼</label>
                                    <br />
                                    <img id="avatar_img" onclick="avatar.click()"
                                        src="/img/<%= avatar ? avatar : 'default-avatar.png' %>" width="200px"
                                        alt="點擊變更頭貼" title="點擊變更頭貼" />
                                    <input type="file" class="form-control" id="avatar" name="avatar" hidden
                                        onchange="changeAvatar(event)" accept="image/jpeg,image/png" />
                                    <br />
                                    <input type="checkbox" name="del_avatar" id="del_avatar" value="1" />
                                    <label for="del_avatar">移除頭貼</label>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">姓名 **</label>
                                    <input type="text" class="form-control" id="name" name="name" value="<%= name %>"
                                        required />
                                    <div class="form-text"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">電郵 **</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        value="<%= email %>" required />
                                    <div class="form-text"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="mobile" class="form-label">手機</label>
                                    <input type="text" class="form-control" id="mobile" name="mobile" pattern="09\d{8}"
                                        value="<%= mobile %>" />
                                    <div class="form-text"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="birthday" class="form-label">生日</label>
                                    <input type="date" class="form-control" id="birthday" name="birthday"
                                        value="<%= birthday %>" />
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">地址</label>
                                    <textarea class="form-control" id="address" name="address">
<%= address %></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">修改</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">修改結果</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success" role="alert">資料修改成功</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            繼續修改資料
                        </button>
                        <a href="/address-book" class="btn btn-primary">回列表頁</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../parts/html-scripts') %>
            <script>
                const ab_id = <%= ab_id %>;
                const locals = <% - JSON.stringify(locals) %>;
                // 建立對應到 DOM 的 Modal 物件
                const myModal = new bootstrap.Modal("#exampleModal");

                // 取得欄位的參照
                const nameField = document.editForm.name;
                const emailField = document.editForm.email;
                const fields = {
                    name: nameField,
                    email: emailField,
                };

                function validateEmail(email) {
                    const re =
                        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                }

                const sendData = (e) => {
                    e.preventDefault();
                    // 恢復欄位的外觀
                    nameField.style.border = "1px solid #CCC";
                    nameField.nextElementSibling.innerHTML = "";
                    emailField.style.border = "1px solid #CCC";
                    emailField.nextElementSibling.innerHTML = "";

                    // TODO: 欄位的資料檢查
                    let isPass = true; // 有沒有通過檢查

                    /*
                    if (nameField.value.length < 2) {
                      isPass = false;
                      nameField.style.border = "2px solid red";
                      nameField.nextElementSibling.innerHTML = "請填入正確的姓名";
                    }
                
                    if (!validateEmail(emailField.value)) {
                      isPass = false;
                      emailField.style.border = "2px solid red";
                      emailField.nextElementSibling.innerHTML = "請填入正確的電子郵件信箱";
                    }
                  */
                    if (isPass) {
                        // 如果全部要檢查的欄位都通過檢查
                        const fd = new FormData(document.editForm);

                        fetch(`/address-book/api/${ab_id}`, {
                            method: "PUT",
                            body: fd,
                        })
                            .then((r) => r.json())
                            .then((result) => {
                                console.log(result);
                                if (result.success) {
                                    myModal.show(); // 顯示 Modal
                                    return;
                                }
                                if (result.error) {
                                    result.error.issues?.forEach((item) => {
                                        const field = fields[item.path[0]];
                                        if (field) {
                                            field.style.border = "2px solid red";
                                            field.nextElementSibling.innerHTML = item.message;
                                        }
                                    });
                                }
                            })
                            .catch((ex) => {
                                console.warn("Fetch 出錯了!");
                                console.warn(ex);
                            });
                    }
                };

                const changeAvatar = (e) => {
                    const fileList = avatar.files;
                    if (!fileList.length) {
                        avatar_img.src = "/img/<%= avatar ? avatar : 'default-avatar.png' %>"; // 回復原來的預設圖片
                        return;
                    }
                    const url = URL.createObjectURL(fileList[0]); // 同步的方式預覽圖片
                    avatar_img.src = url;
                };
            </script>
            <%- include('../parts/html-footer') %>