<%- include("parts/html-head") %>
    <%- include("parts/html-navbar") %>
        <div class="container">
            <h2>
                <%= name %>
            </h2>
        </div>
        <%- include("parts/html-scripts") %>
            <%- include("parts/html-footer") %>